<mat-toolbar color="primary">
    <span> SILVER Data Portal </span>
    <span class="toolbar-spacer"></span>
    <button mat-button (click)="openLoginDialog()">
        <mat-icon>person</mat-icon>
        <span *ngIf="username">{{username}}</span>
        <span *ngIf="! username">Login</span>
    </button>
    <button mat-button *ngIf="orginisation">
        <mat-icon>account_balance</mat-icon>
        <span>{{orginisation}}</span>
    </button>
    <button mat-button *ngIf="purpose">
        <mat-icon>map</mat-icon>
        <span>{{purpose}}</span>
    </button>
</mat-toolbar>

<mat-card>
    <mat-card-content *ngIf="username">
        <mat-form-field>
            <mat-select placeholder="Data Source" [(ngModel)]="dataSourceId">
                <mat-option *ngFor="let dataSource of dataSources" [value]="dataSource.value">{{dataSource.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button *ngIf="dataSourceId" [disabled]="downloading" (click)="startDataLoad()">
            <mat-icon>cloud_download</mat-icon>
            <span>View Data</span>
         </button>
         <mat-progress-bar *ngIf="downloading" mode="indeterminate"></mat-progress-bar>
    </mat-card-content>

    <mat-card-content>
        <div #table></div>
    </mat-card-content>
</mat-card>
