<md-toolbar color="primary">
    <span> SILVER Data Portal </span>
    <span class="toolbar-spacer"></span>
    <md-select placeholder="Data Source" *ngIf="username" [(ngModel)]="dataSource">
        <md-option *ngFor="let dataSource of dataSources" [value]="dataSource.value">{{dataSource.name}}</md-option>
    </md-select>
    <button md-button *ngIf="username" (click)="startDataLoad()">
        <md-icon>cloud_download</md-icon>
        <span>View Data</span>
    </button>
    <button md-button (click)="openLoginDialog()">
        <md-icon>person</md-icon>
        <span>{{username}}</span>
    </button>
</md-toolbar>

<md-card>
    <md-card-content>
        <div #table></div>
    </md-card-content>
</md-card>
